# Environment-Variables file run only once when the program starts so if we have made any change in it hen we have to restart the program.

# This syntax is used when we create with create-react
# REACT_APP_APPWRITE_URL = "test envirinment"

# For Vite...
VITE_APPWRITE_URL = "testing"  # API End-point
VITE_APPWRITE_PROJECT_ID = ""
VITE_APPWRITE_DATABASE_ID = ""
VITE_APPWRITE_COLLECTION_ID = ""
VITE_APPWRITE_BUCKET_ID = ""
VITE_TINYMCE_API_KEY = ""